
{% comment %}
<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
{% endcomment %}

<script src="{{ 'section-stores.js' | asset_url }}" defer="defer"></script>


<stores-slider>
  <div class="stores__slider">
    <div class="page-width page-width--narrow">
      <h1>{{ section.settings.header }}</h1>
        <ul class="stores-carousel">
          {% for block in section.blocks %}
                <li class="store-item">
                  <img class="photo-store" src="{{ block.settings.image | img_url }}" alt="">
                  <h1>{{ block.settings.title }}</h1>
                  <p>{{ block.settings.content }}</p>
                </li>
          {% endfor %}
        </ul>
    </div>
  </div>
</stores-slider>

{% schema %}
  {
    "name": "Stores",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      }
    ],
    "blocks": [
      {
        "type": "store",
        "name": "Store",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
